services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_BASE_URL=https://mytestdodo.pro/api
    restart: always
    container_name: dodo-user-next
networks:
  sail:
    external: true
